@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Crashes";
}

@model CrashesViewModel

<div class="float-right py-2">
    <a class="btn btn-primary" asp-controller="Admin" asp-action="AddCrash">Add Record</a>
</div>


<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Crash ID</th>
            <th>Main Road Name</th>
            <th>City</th>
            <th>County Name</th>
            <th>Crash Severity</th>


        </tr>
    </thead>

    <tbody>
        @foreach (var a in Model.crashes)
        {
            <tr>
                <td>@a.crash_id</td>
                <td>@a.main_road_name</td>
                <td>@a.city</td>
                <td>@a.county_name</td>
                <td>@a.crash_severity_id</td>



                <td>
                    <a class="nav-link text-dark btn btn-warning btn-sm" asp-area="" asp-controller="Admin" asp-action="EditCrash" asp-route-id="@a.crash_id">Edit</a>

                </td>
                <td>
                    <a class="nav-link text-white btn btn-danger btn-sm" asp-area="" asp-controller="Admin" asp-action="DeleteCrash" asp-route-id="@a.crash_id">Delete</a>
                </td>

          


            </tr>
        }
    </tbody>
</table>


<div style="margin-top: 10px; margin-bottom: 10px;" page-dynamic="@Model.PageInfo" page-action="Crashes" page-class-normal="btn btn-outline-dark" page-class-selected="btn btn-primary"></div>